h6 {
    margin-bottom: .7666666667rem;
}

h4 {
    margin-bottom: 1.52rem;
}

/* ---------------------------------- */

/* ------------content--------------- */

.home-content-outer-div {
    margin-top: 38.7rem;
    /* height: 300px !important; */
}

.home-content-attraction-equation-card-panel {
    margin-bottom: 0;
}

@media only screen and (max-width: 1139px) and (min-width: 993px) {
    .home-content-outer-div {
        margin-top: 27.8rem !important;
    }
}

@media only screen and (max-width: 992px) {
    .home-content-outer-div {
        margin-top: 0rem !important;
    }
}

.home-content-attraction-equation-title, .home-content-title {
    font-family: "Raleway Thin", "Roboto";
    font-size: 2.3em;
}

.home-content-attraction-equation-description, .home-content-description {
    font-family: "Raleway Light", "Roboto";
    font-size: 2.3em;
    color: white;
}

.home-content-attraction-equation-title > span:nth-of-type(3) {
    color: red;
}

.home-content-attraction-equation-title > span:nth-of-type(2) {
    font-size: 0.8em;
}

.home-content-attraction-equation-title > span:nth-of-type(1) {
    font-size: 0.8em;
}

.home-content-attraction-equation-card-panel, .home-content-card-panel {
    background-color: #e53935;
}

.home-content-card-panel {
    margin: 0;
}

.home-content-begins-title {
    text-align: center;
}

@media only screen and (min-width: 601px) {
    .home-vertical-align {
        display:flex;
        align-items:center;
    }
}

.home-designs-modal {
    max-height: 80% !important
}