.outer-div {
    background-image: "./assets/img/home_page_bg.svg";
}

.home-red-bg {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
    overflow: hidden;
}

.home-red-bg > div > img {
    width: 90em;
}

@media only screen and (max-width: 1140px) {

    .home-red-bg {
        width: 100%;
        position: absolute;
        top: 0px;
        z-index: -1;
        overflow: hidden;
    }

    .home-red-bg > div > img {
        width: 70em;
    }

    .home-logo > img {
        width: 25em !important;
    }
    
    .home-logo {
        margin-top: 1em !important;
    }
}

@media only screen and (min-width: 993px) {
    .home-logo > img {
        width: 30em !important;
        padding-right: 6em;
    }
    
    .home-logo {
        margin-top: 3.5em !important;
    }

    .home-slogan {
        font-family: "Raleway Thin", "Roboto";
        font-size: 3.9em;
        padding-right: 1.6em;
    }
}

@media only screen and (max-width: 1139px) and (min-width: 993px) {
    .home-logo {
        margin-top: 0.5em !important;
    }
}

@media only screen and (max-width: 992px) {
    .home-logo {
        margin-top: 5em !important;
    }
}

.home-red-bg-div {
    padding: 0 !important;
}

/* .home-logo > img {
    width: 30em;
    padding-right: 6em;
}

.home-logo {
    margin-top: 4em;
} */

.home-slogan {
    font-family: "Raleway Thin", "Roboto";
    font-size: 3.9em;
}

@keyframes home-slogan-animation {
    0% {color: black;}
    50% {color: red;}
    100% {color: black;}
}

@-webkit-keyframes home-slogan-animation {
    0% {color: black;}
    50% {color: red;}
    100% {color: black;}
}

@-moz-keyframes home-slogan-animation {
    0% {color: black;}
    50% {color: red;}
    100% {color: black;}
}

@-o-keyframes home-slogan-animation {
    0% {color: black;}
    50% {color: red;}
    100% {color: black;}
}

@-ms-keyframes home-slogan-animation {
    0% {color: black;}
    50% {color: red;}
    100% {color: black;}
}

.home-slogan-skill {
    animation-name: "home-slogan-animation";
    animation-duration: 3s;
    animation-iteration-count: infinite;

    -webkit-animation-name: "home-slogan-animation";
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: "home-slogan-animation";
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;

    -o-animation-name: "home-slogan-animation";
    -o-animation-duration: 3s;
    -o-animation-iteration-count: infinite;

    -ms-animation-name: "home-slogan-animation";
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: infinite;
}

/* ---------------------------------- */

/* ------------content--------------- */

.home-content-attraction-equation-div-desktop {
    margin-top: 20.8rem;
    height: 300px !important;
}

@media only screen and (max-width: 1139px) and (min-width: 993px) {
    .home-content-attraction-equation-div-desktop {
        margin-top: 12.6em !important;
    }
}

.home-content-attraction-equation-title {
    font-family: "Raleway Thin", "Roboto";
    font-size: 2.3em;
}

.home-content-attraction-equation-description {
    font-family: "Raleway Light", "Roboto";
    font-size: 2.3em;
    color: white;
}

.home-content-attraction-equation-title > span:nth-of-type(3) {
    color: red;
}

.home-content-attraction-equation-title > span:nth-of-type(2) {
    font-size: 0.8em;
}

.home-content-attraction-equation-title > span:nth-of-type(1) {
    font-size: 0.8em;
}

.home-content-attraction-equation-card-panel {
    background-color: #e53935;
}

@media only screen and (min-width: 601px) {
    .home-vertical-align {
        display:flex;
        align-items:center;
    }
}
