@font-face {
  font-family: 'Raleway Medium';
  src: local('Raleway'), url(./Fonts/Raleway/static/Raleway-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Raleway Thin';
  src: local('Raleway'), url(./Fonts/Raleway/static/Raleway-Thin.ttf) format('opentype');
}

@font-face {
  font-family: 'Raleway Light';
  src: local('Raleway'), url(./Fonts/Raleway/static/Raleway-Light.ttf) format('opentype');
}